
$media-min-width                : 0px;
$media-max-width                : 479px;

@media screen and (min-width: $media-min-width) and (max-width: $media-max-width) {
    
    // ------------------------------------------------------------------------------------------------------
    // GENERATE THE GRID CLASSES
    
    $relative-font-sizing       : false;
    $base-font-size             : 14px;
    $base-line-height           : 20px;
    @import "utilities/vertical-rhythm";
    @include establish-baseline();
    
    $media                      : h; // media-specific shortcut, e.g. "h" for ".g-h-#"
    $max-units                  : 6; // number of columns
    $col-width                  : 12.5%; // column width
    $gutter-width               : 5%;  // gutter width
    $units                      : 1 2 3 4 6; // only add the columns you really need
    $pad-units                  : 1 2 3 4 6; // only add the pad-units you really need to push/pull/append/prepend
    @include grids($media, $units, $max-units, $col-width, $gutter-width, $pad-units);
    
    // ------------------------------------------------------------------------------------------------------
    // HANDHELD STYLES
    
    body {
        overflow-x: hidden;
        background: #fff;
    }

    .outer {
        background: #fff;

        &.h-nopad {
            padding-left: 0px !important; padding-right: 0px !important;
        }

        > .wrap {
            padding-left: 0; padding-right: 0;

            > .no-pad {
                margin-left: 0; margin-right: 0;
            }
        }
    }

    // ------------------------------------------------------------------------------------------------------
    // HEADER

    #header {

        .bottom {

            .right {
                padding: 0 $gutter-width 20px;
            }
        }
    }

    // ------------------------------------------------------------------------------------------------------
    // FOOTER

    #footer {
        background: $background-color;

        .top {

            ul {
                text-align: left;
            }

            > .item {
                text-align: left;
                background: transparent;

                > .inner {
                    padding: 0px;
                }
            }

            .heading {
                margin: 0 0 10px;
            }
        }
    }
}