
$media-min-width                : 480px;
$media-max-width                : 767px;

@media screen and (max-width: $media-max-width) {

    // ------------------------------------------------------------------------------------------------------
    // GLOBAL STYLES

    .item {

        > .border {
            border: none !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    .block-list {

        > .block-heading {
            text-align: center;

            .heading {
                padding: 0 20px;
            }

            .right {
                position: static;
            }
        }

        /* Disable overlays at this size, they will probably cover the image! */
        &.overlay {

            > .item {

                figcaption {
                    position: static;
                    padding: 8px 12px !important;
                    background: #eee !important;
                }

                img {
                    opacity: 1 !important;
                }

                &:hover {

                    figcaption {
                        background: rgb(245,245,245); background: rgba(255,255,255, .9);
                        padding-top: 14px; padding-bottom: 14px;
                    }
                }
            }
        }
    }
    
    // ------------------------------------------------------------------------------------------------------
    // HEADER

    #header {
        //padding-bottom: 0px;

        .top {
            

            ul {

                li {
                    font-size: 13px;
                }
            }
        }

        .bottom {

            .logo {
                text-align: left;
                padding: 36px 90px 42px 20px;

                img {
                    margin: 0;
                }
            }

            .right {
                text-align: left;

                input {
                    margin: 0;
                    width: 100%; height: 35px;
                    display: block;
                    @include box-sizing(border-box);
                }
            }
        }

        .nav {
            border: none;
            height: 0px;
            float: none;
            display: block;
            padding: 0;
            overflow: hidden;
            text-align: left;

            li {
                float: none;
                display: block;
                margin: 0;
                border-bottom: 1px solid #eee;
            }

            a {
                padding: 12px 20px;
            }

            a:hover {
                background: #eee;
            }

            &.open {
                border-top: 1px solid #eee;
                height: auto;
            }
        }
    }

    // ------------------------------------------------------------------------------------------------------
    // FOOTER

    #footer {
        padding: 0;

        .top {

            ul {

                li {
                    margin-left: 0px;
                }
            }
        }

        .bottom {
            padding-top: 0px;

            .right {
                text-align: left;
                padding: 20px;
            }
        }

        .nav {
            border: none;
            float: none;
            display: block;
            padding: 0;

            li {
                float: none;
                display: block;
                margin: 0;
                border-bottom: 1px solid #444;
            }

            a {
                padding: 12px 20px;
            }
        }
    }

    // ------------------------------------------------------------------------------------------------------
    // TOP BANNER

    #top-banner {
        background: $background-color;
        height: auto;

        .prev-slide { left: -12px; }
        .next-slide { right: -12px; }

        .next-slide,
        .prev-slide,
        .slide-content .slide {
            background-color: transparent;
        }

        .title, .text {
            text-shadow: none;
            color: $text-color;
        }

        .title {
            @extend .heading-font; font-size: 42px; line-height: 40px;
            max-width: 650px;
            margin: 0 0 24px;
        }

        .text {
            font-size: 20px;
            max-width: 420px;
            margin: 0 0 30px;
        }

        .slide-images {
            position: absolute;
        }

        .slide-content {
            padding: 0;

            > .slides {
                background: transparent;
            }
        }

        .overlay {
            position: static;

            .box {
                padding: 24px 0 0;

                > .inner {
                    background: transparent;
                    padding: 0;
                }
            }
        }
    }
    
}

@media screen and (min-width: $media-min-width) and (max-width: $media-max-width) {
    
    // ------------------------------------------------------------------------------------------------------
    // GENERATE THE GRID CLASSES
    
    $relative-font-sizing       : false;
    $base-font-size             : 14px;
    $base-line-height           : 24px;
    @import "utilities/vertical-rhythm";
    @include establish-baseline();
    
    $media                      : hl; // media-specific shortcut, e.g. "hl" for ".g-hl-#"
    $max-units                  : 6; // number of columns
    $col-width                  : 55px; // column width
    $gutter-width               : 20px;  // gutter width
    $units                      : 1 2 3 4 6; // only add the columns you really need
    $pad-units                  : 1 2 3 4 6; // only add the pad-units you really need to push/pull/append/prepend
    @include grids($media, $units, $max-units, $col-width, $gutter-width, $pad-units);

    .outer > .wrap {
        padding-left: $gutter-width; padding-right: $gutter-width;

        > .no-pad {
            margin-left: -$gutter-width; margin-right: -$gutter-width;
        }
    }

    // ------------------------------------------------------------------------------------------------------
    // HEADER

    #header {

        .logo {
            padding-left: 0;
        }

        .bottom {

            .right {
                padding: 0 0 20px;
            }
        }
    }

}