
// ------------------------------------------------------------------------------------------------------
// GLOBAL STYLES

body {
    margin: 0;
    padding: 0;
}

// ------------------------------------------------------------------------------------------------------
// FLEXSLIDER DEFAULTS

.flexslider {

	.flex-direction-nav {
		line-height: normal;
	}
}