*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.phpintel
fuel/vendor

fuel/app/cache/*/*
fuel/app/config/crypt.php
nbproject/
public/uploads
public/assets/scss/cache
public/assets/css/cache
public/assets/compiled
cache
compiled
*.cache
fuel/app/config/development/migrations.php
fuel/app/config/production/migrations.php
fuel/packages/sprockets
fuel/packages/cmf
db/backups
node_modules
.vagrant
dist/
/public/assets/dist/
/public/templates/01/assets/dist/
/public/templates/02/assets/dist/
/public/templates/03/assets/dist/
/public/templates/04/assets/dist/
/public/templates/01/assets/images/sprite.png
/public/templates/01/assets/images/sprite.styl
/public/templates/02/assets/images/sprite.png
/public/templates/02/assets/images/sprite.styl
/public/templates/03/assets/images/sprite.png
/public/templates/03/assets/images/sprite.styl
/public/templates/04/assets/images/sprite.png
/public/templates/04/assets/images/sprite.styl
fuel/app/logs/