*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
nbproject/

/public/uploads
/public/assets/scss/cache
/public/assets/css/cache
/public/assets/compiled
*.cache
/fuel/app/config/development/migrations.php
/fuel/app/config/production/migrations.php
/fuel/packages/sprockets
/fuel/packages/cmf