
// ------------------------------------------------------------------------------------------------------
// GENERATE THE GRID CLASSES

$relative-font-sizing       : false;
$base-font-size             : 14px;
$base-line-height           : 24px;
@import "utilities/vertical-rhythm";
@include establish-baseline();

$default-class              : d; // default shortcut which is needed in other contexts, e.g. "d" for ".g-d-#"
$max-units                  : 24; // number of columns
$col-width                  : 20px; // column width
$gutter-width               : 20px;  // gutter width
$units                      : 2 4 6 8 10 12 14 16 18 24; // only add the columns you really need
$pad-units                  : 2 4 6 8 10 12 14 16 18 24; // only add the pad-units you really need to push/pull/append/prepend
@include grids($default-class, $units, $max-units, $col-width, $gutter-width, $pad-units);

// ------------------------------------------------------------------------------------------------------
// MAIN STYLES

.wrap,
.outer {
	display: block;

	&.pad-top {
		@extend .top-gutter-pad;
	}

	&.pad-bot {
		@extend .bottom-gutter-pad;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: $base-line-height;
}

h1 {
	font-size: 26px;
}

h2 {
	
}

a {
	color: $text-color;
}

strong, b {
	@extend .bold-font;
}

img {
	max-width: 100%;
	height: auto;
}

.page-title {
	font-size: 34px; line-height: 38px;
	@extend .bold-font;
	border-bottom: 1px solid #eee;
	margin: 0 0 20px;
	padding: 0 0 16px;
}

::-moz-selection{ background: #000; color: #FFF; text-shadow: none; }
::selection { background: #000; color: #FFF; text-shadow: none; }

// ------------------------------------------------------------------------------------------------------
// GLOBAL STYLES (OR EXTENDABLE SELECTORS)

.hr {
	display: block;
	clear: both;
	overflow: hidden;
	width: 100%; height: 1px;
	background: #aaa;
	@extend .bottom-gutter;
}

.col2-r {
	@extend .c;

	.left {
		@extend .l-18; @extend .d-18; @extend .t-8; @extend .hl-6; @extend .h-6;
	}

	.right {
		@extend .l-6-r; @extend .d-6-r; @extend .t-4-r; @extend .hl-6-r; @extend .h-6;
	}
}

.horizontal-list {
	@extend .clearfix;

	li {
		float: left;
	}

	ul {
		@extend .clearfix;
	}

	a, span {
		display: block;
	}

	&.centered {
		text-align: center;

		li {
			display: inline-block;
		}
	}
}

.breadcrumbs {
	@extend .horizontal-list;
	@extend .bottom-gutter;

	li {
		text-transform: uppercase;
	}

	li, a {
		font-size: 14px; line-height: 24px;
		color: #999;
	}

	a:hover {
		text-decoration: underline;
	}

	li.on {

		a {
			color: #000;
		}
	}

	li.div {
		margin: 0 6px;
	}
}

.btn {

	@include transition(background-color .15s cubic-bezier(0.215, 0.610, 0.355, 1.000));

	display: inline-block;
	padding: 12px 20px;
	background: #eee;
	@include appearance(none);
	border: none;
	@include border-radius(6px);

	&:hover {
		background: #ddd;
	}

	// Small caps

	&.sc {
		text-transform: uppercase;
		font-size: 85%; letter-spacing: 0.1em;
		@extend .bold-font;
	}

	// Button colour combinations
	
	&.inverse {
		background: #222;
		color: #fff;

		&:hover {
			background: #111;
		}
	}
}

.sprite {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	background: url('../images/sprite.png');
	text-indent: -9999px;
}

.col2 {
	@extend .c;
	overflow: hidden;

	> .item {
		@extend .bottom-gutter;
		@extend .l-12; @extend .d-12; @extend .t-6; @extend .hl-3; @extend .h-3;
	}
}

.col3 {
	@extend .c;
	overflow: hidden;

	> .item {
		@extend .bottom-gutter;
		@extend .l-8; @extend .d-8; @extend .t-4; @extend .hl-3; @extend .h-3;
	}
}

.col4 {
	@extend .c;
	overflow: hidden;

	> .item {
		@extend .bottom-gutter;
		@extend .l-6; @extend .d-6; @extend .t-3; @extend .hl-3; @extend .h-3;
	}
}

.item {

	> .border {

		$border-width: 1px;

		width: auto; height: 100%;
		margin: 0 (-($gutter-width / 2) + $border-width) 0 -(($gutter-width / 2) + $border-width);
		padding: 0 $gutter-width;
		border-left: $border-width solid #aaa;
	}

	&:first-child > .border {
		padding-left: $gutter-width + ($gutter-width / 2);
		border-left: none;
	}
}

.block-list {
	@extend .c;

	> .block-heading {
		@extend .l-24; @extend .d-24; @extend .t-12; @extend .hl-6; @extend .h-6;
		@extend .bottom-gutter;
		position: relative;
		background: #999;
		color: #fff;
		padding: 10px 0 12px;

		.heading {
			@extend .heading-font-2; font-size: 20px; line-height: 24px;
			margin: 0;
			padding: 0 80px;
			text-align: center;
		}

		.right {
			position: absolute; top: 12px; right: 14px;
			font-size: 15px; line-height: 24px;
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	> .item {
		position: relative;

		img {

			@include transition(opacity .15s cubic-bezier(0.215, 0.610, 0.355, 1.000));

			display: block;
			opacity: 1;
			margin: 0 0 8px;
		}

		figcaption {

			h3 {
				@extend heading-font; font-size: 18px; line-height: 24px;
				margin: 0 0 8px;
				color: #666;
			}

			&, p {
				font-size: 13px; line-height: 18px;
				padding: 0 0 8px;
			}
		}

		&:hover {

			img {
				opacity: .8;
			}
		}
	}

	/* Overlay the figcaptions onto the image */
	&.overlay {

		> .item {

			img {
				margin: 0;
			}

			figcaption {

				@include transition(background-color .15s cubic-bezier(0.215, 0.610, 0.355, 1.000));
				transition-property: background-color, padding;

				position: absolute; bottom: 0px; left: 0px; right: 0px;
				background: rgb(230,230,230); background: rgba(255,255,255, .7);
				font-size: 13px; line-height: 16px;
				padding: 8px 12px;
			}

			&:hover {

				figcaption {
					background: rgb(245,245,245); background: rgba(255,255,255, .9);
					padding-top: 14px; padding-bottom: 14px;
				}
			}
		}
	}
}

.nav-secondary {
	margin: 0 0 24px;

	ul {
		
	}

	li {
		@extend .medium-font;
		font-size: 14px; line-height: 18px;
		border-bottom: 1px solid #eee;
	}

	a {
		display: block;
		padding: 10px 0;
	}

	a:hover {
		background: #f6f6f6;
	}

	li.on {
		@extend .bold-font;
	}
}

.form {

	input[type="text"],
	input[type="email"] {
		@extend .regular-font;
		@include placeholder-color(#ccc);
		font-size: 14px; line-height: 18px;
		height: 19px;
		padding: 6px 10px;
		border: 2px solid #ddd;

		&:focus {
			border-color: #ccc;
		}
	}
}

// ------------------------------------------------------------------------------------------------------
// HEADER

#header {
	background: #fff;
	border-bottom: 1px solid #ddd;

	.wrap {
		position: relative;
	}

	.logo {
		@extend .l-6; @extend .d-6; @extend .t-4; @extend .hl-6; @extend .h-6;
		padding: 64px 0;

		img {
			display: block;
		}
	}

	.right {
		@extend .l-18; @extend .d-18; @extend .t-8; @extend .hl-6; @extend .h-6;

		ul {
			@extend .horizontal-list;
			float: right;
		}

		.middle {
			text-align: right;
		}

		.nav {
			@extend .clearfix;
		}
	}

	.top {
		@extend .clearfix;

		li {
			font-size: 14px;
			margin: 0 0 0 1px;
		}

		a, span {
			padding: 7px 10px;
			background: #eee;
		}
	}

	.middle {
		@extend .hl-hide; @extend .h-hide;
		color: #999;
		padding: 23px 0 20px;

		.tel {
			font-size: 26px; line-height: 30px;
		}
	}

	.nav {
		@extend .horizontal-list;
		margin: 0 0 12px;

		ul {
			float: right;
		}

		li {
			@extend .medium-font; font-size: 15px; line-height: 20px;
			margin: 0 0 0 28px;
		}

		li:first-child {
			margin-left: 0;
		}

		a, span {
			display: block;
			padding: 6px 2px;
		}

		li.on {
			text-decoration: underline;
		}
	}

	.expand-btn {
		@extend .l-hide; @extend .d-hide; @extend .t-hide; @extend .hl-show; @extend .h-show;
		position: absolute; top: 13px; right: 18px;
		display: block;
		width: 25px; height: 20px;
		padding: 10px;
		cursor: pointer;

		.sprite {
			width: 100%; height: 100%;
		}
	}
}

// ------------------------------------------------------------------------------------------------------
// TOP BANNER

#top-banner {
	overflow: hidden;
	@extend .top-gutter-pad;

	.left {
		@extend .l-12; @extend .d-12; @extend .t-6; @extend .hl-6; @extend .h-6;
	}

	.right {
		@extend .l-12-r; @extend .d-12-r; @extend .t-6-r; @extend .hl-6; @extend .h-6;
	}

	.title {
		@extend .heading-font; font-size: 38px; line-height: 42px;
		margin: 0 0 24px;
	}

	.text {
		font-size: 18px; line-height: 24px;
		margin: 0 0 34px;
	}

	// Containers for slide content and images
	.slide-content,
	.slide-images {
		position: relative;

		> .slides {
			position: relative;
			overflow: hidden;
		}
	}

	.slide {
		position: absolute; top: 0px; left: 0px; z-index: 1;
		opacity: 0;
		visibility: hidden;

		&.active {
			position: relative; z-index: 2;
			opacity: 1;
			visibility: visible;
		}
	}

	.slide-content {
		padding: 0 60px 0 0;

		.slide {
			width: 100%;
		}
	}

	.slide-images {
		@extend .hl-hide; @extend .h-hide;

		.slide {
			width: 100%;
			text-align: center;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}

	.pagination {
		@extend .hl-hide; @extend .h-hide;
		position: absolute; left: 0px; bottom: 0px; z-index: 3;
		width: 100%;
		text-align: center;
		white-space: nowrap;

		.wrap {
			// Semi transparent with grey fallback
			background: rgb(240,240,240); background: rgba(255,255,255,.8);
		}

		ul {
			height: 16px;
			padding: 16px 0;
		}

		li {
			display: inline-block;
			width: 16px; height: 16px;
			margin: 0 5px;
		}

		span {
			display: inline-block;
			overflow: hidden;
			width: 100%; height: 100%;
			@include border-radius(50%);
			background: #111;
			text-indent: -9999px;
			cursor: pointer;

			&:hover {
				background: #fff;
			}
		}

		li.on span {
			background: #fff;
		}
	}

	// Next and previous slide buttons
	.next-slide,
	.prev-slide {
		@extend .sprite;
		width: 40px; height: 40px;
		position: absolute; top: 50%; z-index: 3;
		margin: -20px 0 0;
		background-color: rgb(240,240,240); background-color: rgba(255,255,255,.8);
		cursor: pointer;

		&:hover {
			background-color: #fff;
		}

		&.disabled {
			opacity: .3;
			cursor: default;
			background-color: #fff;
		}
	}

	.prev-slide { left: 24px; background-position: 0 -30px; }
	.next-slide { right: 24px; background-position: -40px -30px; }
}

// ------------------------------------------------------------------------------------------------------
// USP LIST (headings and text)

.usp-list {

	> .item {
		text-align: center;
	}

	.heading {
		@extend .heading-font-2; font-size: 18px;
		margin: 0 0 10px;
	}

	.text {
		font-size: 13px; line-height: 20px;
	}
}

// ------------------------------------------------------------------------------------------------------
// FOOTER

#footer {
	//border-top: 1px solid #aaa;

	.top {
		background: #f0f0f0;
		padding: 36px 0;

		.item {
			text-align: center;
			@extend .t-6; @extend .h-6;
			margin-bottom: 0px;
		}

		.heading {
			@extend .heading-font-2; font-size: 16px;
			margin: 0 0 10px;
		}

		.tel {
			font-size: 18px; line-height: 32px;
		}

		.social {

			a {
				display: inline-block;
				width: 35px; height: 35px;
				background: #eee;
			}

			.sprite { width: 35px; height: 35px; }
			.sprite.twitter { background-position: 0 -70px; }
			.sprite.facebook { background-position: -40px -70px; }
			.sprite.google { background-position: -80px -70px; }
			.sprite.pinterest { background-position: -120px -70px; }
		}

		ul {
			@extend .horizontal-list.centered;

			li {
				margin: 0 3px 3px;
			}
		}

		.newsletter {
			position: relative;
			height: 35px;
			padding: 0 35px 0 0;
			text-align: left;
			overflow: hidden;

			input {
				width: 100%;
			}

			.submit {
				@extend .sprite;
				@include appearance(none);
				border: none;
				background-color: #ccc;
				background-position: 0 -110px;
				display: block;
				width: 35px; height: 35px;
				position: absolute; top: 0px; right: 0px;
				cursor: pointer;
			}
		}
	}

	.bottom {
		background-color: transparent;
		@extend .medium-font;
		color: #fff;
		padding: 14px 0;

		a {
			color: #fff;
		}

		.left {
			@extend .l-18; @extend .d-18; @extend .t-8; @extend .hl-6; @extend .h-6;
		}

		.right {
			@extend .l-6-r; @extend .d-6-r; @extend .t-4-r; @extend .hl-6; @extend .h-6;
			text-align: right;

			p {
				padding-right: 20px;
			}
		}
	}

	.nav {
		@extend .horizontal-list;
		overflow: hidden;

		li {
			margin: 0 20px 0 0;
		}

		a {
			display: block;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

// ------------------------------------------------------------------------------------------------------
// RTE CONTENT

.editor {
	
	&.cke_editable {
		max-width: 755px;
		@extend .clearfix;
	}

	&.centered {
		text-align: center;
	}

	&.pad-top {
		@extend .top-gutter-pad;
	}

	&.pad-bot {
		@extend .bottom-gutter-pad;
	}
	
	h1 { @extend .heading-font; font-size: 32px; line-height: 33px; margin: 0 0 20px; }
	h2 { @extend .heading-font; font-size: 21px; line-height: 28px; margin: 0 0 18px; }
	h3 { @extend .heading-font; font-size: 19px; line-height: 26px; margin: 0 0 18px; }
	h4 { @extend .heading-font-2; font-size: 17px; line-height: 24px; margin: 0 0 16px; }
	h5 { @extend .heading-font-2; font-size: 15px; line-height: 22px; margin: 0 0 14px; }
	
	p, li {
		font-size: 15px; line-height: 20px;
	}
	
	p {
		margin: 0 0 18px 0;
	}
	
	.large {
		font-size: 26px; line-height: 30px;
		margin: 0 0 20px;
	}
	
	ul {
		list-style: disc outside none;
		margin: 0 0 18px 0; padding: 0 0 0 1.6em;
	}
	
	ol {
		list-style: decimal outside none;
		margin: 0 0 18px 0; padding: 0 0 0 1.6em;
	}
	
	li {
		margin: 0 0 5px;
	}

	sub, sup {
		position:relative;
		font-size:75%;
		line-height:0;
		vertical-align:baseline
	}

	sup {
		top:-0.5em;
	}

	sub {
		bottom:-0.25em;
	}
	
	strong, b {
		@extend .bold-font;
	}
	
	i, em {
		font-style: italic;
	}
	
	a {
		text-decoration: underline;
	}
	
	a:hover {
		text-decoration: none;
	}
	
	table {
		border: 1px solid #d9d9d9;
		margin: 0 0 22px 0;
		
		td, th {
			border: 1px solid #d9d9d9;
			color: #4C4C4C;
			padding: 5px 9px;
		}
		
		th {
			color: #333;
		}
	}
}

