
// ------------------------------------------------------------------------------------------------------
// HOMEPAGE


.body{
	.body-middle{
		.item-list{
			.item{  margin-bottom: 25px;
			}
		}
	}

	.body-bottom{
		.item-list{
			.item{
				padding-top: 20px;
				padding-bottom: 20px;
				@media #{$sm-up} {
					border-left: 2px solid #aaa;
				}
				text-align:center;
				.heading{
					font-size: 18px;
					margin: 0 0 10px;
				}
				.text{
					font-size: 13px;
					line-height: 20px;
					margin-bottom: 0;
				}
				&:first-of-type{
					border-left: none;
				}
			}
			hr{
				border-top: 2px solid #aaa;
				box-sizing: border-box;
			}
		}
	}
}
