
// ------------------------------------------------------------------------------------------------------
// GLOBAL STYLES

body {
    margin: 0;
    padding: 0;
}

a{ 
	color:#000;
	text-decoration:none;
	img{
		border:none;
	}
	&:hover{
		text-decoration: none;
	}
}

*{
	line-height:24px;
}

.no-pad{
	margin-left: -$grid-gutter-width !important;
    margin-right: -$grid-gutter-width !important;
}

.pad-top{
	padding-top:$grid-gutter-width;
}

.pad-bot{
	padding-bottom:$grid-gutter-width;
}
// ------------------------------------------------------------------------------------------------------
// FLEXSLIDER DEFAULTS

.flexslider {
	border:none;
	margin:0;
	.flex-direction-nav {
		line-height: normal;
	}
}

//-----------------------------------------------------------------------------------------------------
//EXTEND

.btn{
	display: inline-block;
	padding: 12px 20px;
	background: #eee;
	border: none;
	border-radius: 6px;

	&:hover {
		background: #ddd;
	}

	// Small caps

	&.sc {
		text-transform: uppercase;
		font-size: 85%; letter-spacing: 0.1em;
		@extend .bold-font;
	}

	// Button colour combinations
	
	&.inverse {
		background: #222;
		color: #fff;

		&:hover {
			background: #111;
		}
	}
}

//--------------
//Item list

.block-heading {
	@extend .col-lg-24;@extend .col-md-24;@extend .col-sm-24;@extend .col-xs-24;@extend .col-hs-24;
	div{
		position: relative;
		background: #333;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 12px;
		margin-bottom: 25px;
		.heading {
			@extend .heading-font-2; font-size: 20px; line-height: 24px;
			margin: 0;
			padding: 0 80px;
			text-align: center;
		}

		a{
			position: absolute; top: 12px; right: 14px;
			font-size: 15px; line-height: 24px;
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.item-list{
	@extend .col-lg-24;@extend .col-md-24;@extend .col-sm-24;@extend .col-xs-24;@extend .col-hs-24;
	.item{
		figure{
			position:relative;
			img {
				margin: 0;
				max-width: 100%;
			}

			figcaption {
				font-size: 13px; line-height: 16px;
				padding: 8px 0;
			}
		}
		&:hover {
			img {
				opacity: .8;
			}
		}
	}
	p{
		margin-bottom: 30px;
	}
	/* Overlay the figcaptions onto the image */
	&.overlay {
		> .item {
			margin-bottom: 24px;
			figure{
				position:relative;
				img {
					margin: 0;
				}

				figcaption {

					@include transition(background-color .15s cubic-bezier(0.215, 0.610, 0.355, 1.000));
					transition-property: background-color, padding;

					position: absolute; bottom: -1px; left: 0px; right: 0px;
					background: rgb(230,230,230); background: rgba(255,255,255, .7);
					font-size: 13px; line-height: 16px;
					padding: 8px 12px;

					@media #{$xs-down} {
						position: relative;
						background: rgb(238, 238, 238);
					}
				}
			}

			&:hover {
				@media #{$md-up} {
					figcaption {
						background: rgb(245,245,245); background: rgba(255,255,255, .9);
						padding-top: 14px; padding-bottom: 14px;
						
					}
				}
			}

		}
	}
}

.breadcrumbs{
	margin-bottom: 25px;
	ul{
		@extend .list-unstyled; @extend .list-inline;
		li{
			a{
				font-size: 14px;
				line-height: 24px;
				color: rgb(153, 153, 153);
				text-transform: uppercase;
			}
			&.on{
				a{
					color:#000;
				}
			}
			&:hover{
				a{
					text-decoration: underline;
				}
			}
		}
		li:after{
			content: "/";
			padding-left:10px;
			color: rgb(153, 153, 153);
		}

		li:last-child:after{
			content: "";
		}

		
	}
}
