
// ------------------------------------------------------------------------------------------------------
// HEADER

#header {
	.top{
		ul{
			margin:0;
			li{
				font-size: 15px;
  				line-height: 20px;
  				margin: 0px 0px 0px 20px;
  				padding:0;
  				&:first-child{
  					margin:0;
  				}
				a{
					display:block;
					padding: 14px 2px;
				}
			}
		}
	}
	.middle{
		.right{
			form{
				width:100%;
				padding:0;
				input{
					font-size: 14px;
					line-height: 18px;
					padding: 6px 10px;
					border: 2px solid #ddd;
				}
			}
			@media #{$xs} {
				text-align: center;
			}
		}
		.logo{
			padding: 4px 0px 40px;
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
			}
		}
	}
	.nav{
		margin:0;
		padding-top:0;
		ul{
			margin:0;
			li {
				@extend .regular-font; font-size: 15px; line-height: 20px;
				margin: 0 0 0 6px;
				display: inline-block;
				&:first-child{
					margin-left: 0;
				}
				&.on{
					text-decoration: underline;
				}
				a, span {
					display: block;
					padding: 13px 14px;
				}
			}
			@media #{$xs} {
				width:70%;
				margin:0 auto 0;
				li{
					display: block;
				}
			}
		}
	}

	.expand-menu {
		button{
			float:right;
			margin:0;
			padding:0;
		}
	}
}