
// ------------------------------------------------------------------------------------------------------
// MAIN IMPORTS

@import "utilities/bootstrap";
@import "../../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../../../node_modules/font-awesome/scss/font-awesome";
@import "utilities/mixins";
@import "utilities/grid";
@import "utilities/sprites";

@import "components/fonts";
@import "components/global";
@import "components/forms";
@import "components/header";
@import "components/footer";
@import "utilities/pages";
@import "components/editor";
@import "utilities/pages";
@import "components/sliders";

// ------------------------------------------------------------------------------------------------------
// TEST COLUMN LAYOUT

.test-col {
	margin-bottom: 20px;
}

.test-col > .inner {
	background: #EEE;
	min-height: 40px;
	padding: 10px 0;
	text-align: center;
	color: #999;
}

// ------------------------------------------------------------------------------------------------------
// INLINE MEDIA QUERY EXAMPLES

body {

	//// HANDHELD : 0px - 479px

	@media #{$hs} {

	}

	//// EXTRA SMALL : 480px - 767px

	@media #{$xs} {

	}
	@media #{$xs-down} {

	}
	@media #{$xs-up} {

	}

	//// SMALL : 768px - 991px

	@media #{$sm} {

	}
	@media #{$sm-down} {

	}
	@media #{$sm-up} {

	}

	//// MEDIUM : 992px - 1199px

	@media #{$md} {

	}
	@media #{$md-down} {

	}
	@media #{$md-up} {

	}

	//// LARGE : 1200px >

	@media #{$lg} {

	}
}
