
// ------------------------------------------------------------------------------------------------------
// MAIN IMPORTS

@import "utilities/bootstrap";
@import "../../components/fontawesome/scss/font-awesome";
@import "utilities/mixins";
@import "utilities/grid";
@import "utilities/sprites";

@import "components/global";
@import "components/type";
@import "components/elements";
@import "components/pages";
@import "components/editor";

// ------------------------------------------------------------------------------------------------------
// TEST COLUMN LAYOUT

.test-col {
	margin-bottom: 20px;
}

.test-col > .inner {
	background: #EEE;
	min-height: 40px;
	padding: 10px 0px;
	text-align: center;
	color: #999;
}