
// ------------------------------------------------------------------------------------------------------
// HEADER

#header {
	background: #fff;

	.logo {
		@extend .col-lg-6;@extend .col-md-6;@extend .col-sm-8;@extend .col-xs-18;@extend .col-hs-18;
		padding-top: 50px;
		padding-bottom: 50px;
		img{
			max-width: 100%;
		}
		@media #{$xs-down} {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	.right {
		@extend .col-lg-18;@extend .col-md-18;@extend .col-sm-16;
		@extend .text-right;
		padding-top: 24px;
		padding-bottom: 24px;
		ul{
			@extend .list-unstyled; @extend .list-inline;
		}
	}

	.expand-menu{
		@extend .col-xs-4;@extend .col-hs-4;
		padding-top: 50px;
		padding-bottom: 50px;
		@media #{$xs-down} {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	.nav-mobile{
		@extend .col-xs-24;@extend .col-hs-24;
		@media #{$sm-up} {
			display: none !important;
		}
		ul{
			@extend .list-unstyled;
			@extend .text-center;
			width:70%;
			margin:0 auto 0;

			li{
				width:100%;
				padding:10px 0;
				border-bottom:1px black solid;
			}
		}
	}

	.top {
		float: right;
		border-bottom: 1px solid #eee;
		padding: 2px 0;

		li {
			font-size: 14px;
			margin: 0 0 0 6px;
		}

		li:first-child {
			margin-left: 0;
		}

		a, span {
			padding: 4px 10px;
		}
	}

	.nav {
		position: relative; top: -1px;
		clear: both; float: right;
		border-top: 1px solid #eee;
		padding-top: 6px;
		padding-bottom: 6px;

		li {
			@extend .medium-font;
			font-size: 15px;
			margin: 0;
		}

		li:first-child {
			margin-left: 0;
		}

		a, span {
			padding: 4px 10px;
		}

		li.on {
			text-decoration: underline;
		}
	}

	.expand-menu {
		button{
			float:right;
			margin:0;
			padding:0;
		}
	}
}