// ------------------------------------------------------------------------------------------------------
// HEADER

.nav {
  text-align: right;
  ul {
    display: inline-block;
    li {
      display: inline-block;
      padding: 0 5px;
      margin-left: 6px;
      &:first-child {
        margin-left: 0;
      }
      &.on {
        text-decoration: underline;
      }
    }
    a, span {
      padding: 4px 10px;
      display: block;
    }
  }
}

#main-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

#mobile-nav {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      text-align: center;
      border-bottom: 1px solid #eee;
      a {
        padding: 20px 0;
        display: block;
      }
    }
  }
}

.list {
  border-top: 1px solid #eee;
}

#top-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

#header {
  background: #fff;
  .logo {
    padding-top: 50px;
    padding-bottom: 10px;
    @media #{$sm-up} {
      padding-bottom: 50px;
    }
    img {
      max-width: 100%;
    }
  }

  .expand-menu {
    button {
      -webkit-appearance: none;
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}