
// ------------------------------------------------------------------------------------------------------
// FOOTER

#footer {
	.top-footer{
		background: #F0F0F0;	
		.item-list{
			.item{
				@extend .col-lg-6;@extend .col-md-6;@extend .col-sm-12;@extend .col-xs-12;@extend .col-hs-12;
				margin: 20px 0;
				padding: 0 20px;
				border-left: 1px solid #aaa;
				text-align:center;
				.heading{
					font-size: 18px;
						margin: 0 0 10px;
				}
				.text{
					font-size: 13px;
						line-height: 20px;
						margin-bottom: 0;
				}
				&:first-child{
					border-left: none;
				}
				.newsletter{
					input{
						font-size: 14px;
						  line-height: 18px;
						  padding: 7px 10px;
						  border: 2px solid rgb(221, 221, 221);
						  width: 140px;
					}
					button{
						background-color: rgb(204, 204, 204);
						-webkit-appearance: none;
						 border: none;
						 width: 35px;
 						 height: 36px;
 						 padding:0;
 						 margin-left: -6px;
					}
				}
				.social{
					li{
						padding:0;
						margin-right: 20px;
						&:last-child{
							margin-right: 0;	
						}
					}
				}
			}
			ul{
				@extend .list-unstyled; @extend .list-inline;
			}
		}
	}

	.bottom-footer{
		background: #333;
		color: #fff;
		.copy{
			margin:0;
			@extend .col-lg-6;@extend .col-md-6;@extend .col-sm-8;@extend .col-xs-12;@extend .col-hs-12;
			text-align:right;
			padding-top:10px;
			padding-bottom:10px;
		}
		.nav{
			@extend .col-lg-18;@extend .col-md-18;@extend .col-sm-8;@extend .col-xs-12;@extend .col-hs-12;
			overflow: hidden;	
			ul{
				margin:0;
				@extend .list-unstyled; @extend .list-inline;
				li {
					margin: 0 0 0 20px;

					a {
						display: block;
						color: #fff;
						padding: 10px 0;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}		
}