
// ------------------------------------------------------------------------------------------------------
// FOOTER

#footer {
	.top-footer{
		background: #F0F0F0;	
		.item-list{
			.item{
				margin: 20px 0;
				padding: 0 20px;
				@media #{$sm-up} {
					text-align:center;
				}
				@media #{$md-up} {
					border-left: 1px solid #aaa;
				}

				.heading{
					font-size: 18px;
						margin: 0 0 10px;
				}
				.text{
					font-size: 13px;
						line-height: 20px;
						margin-bottom: 0;
				}
				&:first-child{
					border-left: none;
					@media #{$sm} {
						border-right: 1px solid #aaa;
					}
				}
				&:last-child{
					@media #{$sm} {
						border-left: 1px solid #aaa;
					}
				}
				.newsletter{
					input{
						font-size: 14px;
						  line-height: 18px;
						  padding: 7px 10px;
						  border: 2px solid rgb(221, 221, 221);
						  width: 200px;
						  @media #{$sm} {
								width: 140px;
							}
							@media #{$xs} {
								width: 140px;
							}
					}
					button{
						background-color: rgb(204, 204, 204);
						-webkit-appearance: none;
						 border: none;
						 width: 35px;
 						 height: 36px;
 						 padding:0;
 						 margin-left: -6px;
					}
				}
				.social{
					li{
						padding:0;
						margin-right: 20px;
						&:last-child{
							margin-right: 0;	
						}
					}
				}
			}
		}
	}

	.bottom-footer{
		background: #333;
		color: #fff;
		.copy{
			margin:0;
			padding-top:10px;
			padding-bottom:10px;
			@media #{$sm-up} {
				text-align:right;
			}
		}
		.nav{
			overflow: hidden;
			ul{
				margin:0;
				li {
					margin: 0 0 0 20px;
					@media #{$xs-down} {
						display: block;
						margin:0;
						padding:10px 0;
						border-bottom:1px #fff solid;
					}

					a {
						display: block;
						color: #fff;
						padding: 5px 0;
						@media #{$sm-up} {
							padding: 10px 0;
						}
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}		
}