
// ------------------------------------------------------------------------------------------------------
// MAIN IMPORTS & VARIABLES

@import "utilities/shared";
@import "utilities/reset";
@import "utilities/grid-system";

@include global-reset;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: #000;
$background-color: #FFF;
$footer-color: #333;

// ------------------------------------------------------------------------------------------------------
// EXTENDABLE FONT CLASSES

.light-font { font-family: $font-family; font-weight: 200; }
.regular-font { font-family: $font-family; font-weight: 400; }
.medium-font { font-family: $font-family; font-weight: 500; }
.bold-font { font-family: $font-family; font-weight: 700; }

.heading-font { @extend .regular-font; }
.heading-font-2 { @extend .bold-font; }

// ------------------------------------------------------------------------------------------------------
// GLOBAL PAGE STYLES

html {
    -webkit-text-size-adjust: none; // fix for font-size adjustment on iphone
    -webkit-font-smoothing: antialiased;
}

body {
    @extend .regular-font;
    color: $text-color;
    background: $footer-color;
    margin: 0; padding: 0;
}

.outer {
	position: relative;
	background: $background-color;
}

// ------------------------------------------------------------------------------------------------------
// MEDIA QUERIES AND LAYOUTS

@import "media/00-default";
@import "media/01-handheld";
@import "media/02-handheld-landscape";
@import "media/03-tablet";
@import "media/04-large";
@import "media/05-massive";
@import "media/06-hi-res";

@import "utilities/layouts";